# Mandatory
RABBITMQ_CONNECTION_URL = "amqp://user:pass@host:5672/"
ORBIT_SPHERE_ADDRESS = "0x4857cC15684639cB596661CA2c1Bbfcf56A9b0a3"
BLOCKCHAIN_URL_FOR_LISTENERS = "https://data-seed-prebsc-1-s1.binance.org:8545"